<div class="container">
  <div class="jumbotron mt-4 text-center dropshadow">
    <h1 class="display-2" style="font-weight:bold">$#!t</h1>
    <h2 class="display-5 pt-5">404 Not Found</h2>
    <div role="img" aria-label="Face with rolling eyes" class="font-size:1.5rem"></div>
    <div class="py-5">
      <a class="btn btn-danger btn-lg" href="/">Back To Home</a>
    </div>
  </div>
</div>
