<!--<h2>Get Started by Creating an Event</h2>-->
        
  <div id="home">
    <div class="container">
      <div class="row">
        <div class="col-8 offset-2">        
          <div class="card dropshadow">
            <div class="card-body">
              <form class="clearfix mb-4" action="POST">
                <div class="form-group">
                  <label for="event-name">Event Name</label>
                  <input type="text" id="event-name" class="form-control" aria-describedby="event-name" placeholder="Enter Event Name">
                </div>
                <div class="row">
                  <div class="form-group col-4">
                    <label for="event-startdate">Start Date/Time</label>
                    <input type="datetime-local" id="event-startdate" class="form-control" aria-describedby="event-startdate" placeholder="Enter Start Date">
                  </div>
                  <div class="form-group col-4">
                    <label for="event-enddate">End Date/Time</label>
                    <input type="datetime-local" id="event-enddate" class="form-control" aria-describedby="event-enddate" placeholder="Enter End Date">
                  </div>
                  <div class="form-group col-4">
                    <label for="event-rsvpdate">RSVP Date/Time</label>
                    <input type="datetime-local" id="event-rsvpdate" class="form-control" aria-describedby="event-rsvpdate" placeholder="Enter RSVP Date">
                  </div>
                </div>
                <div class="form-group">
                  <label for="event-category">Category</label>
                  <select id="event-category" class="form-control">
                    <option value="">Select Category</option>
                    <option value="meetup">Meet Up</option>
                    <option value="party">Party</option>
                    <option value="other">Other</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="event-location">Location</label>
                  <input type="text" id="event-location" class="form-control" aria-describedby="event-location" placeholder="Enter Location">
                </div>
                <div class="form-group">
                  <label for="event-description">Description</label>
                  <textarea class="form-control" id="event-description" aria-describedby="event-description" placeholder="Enter Description"></textarea>
                </div>
                <button id="submit" class="btn btn-primary float-right">Add Event</button>
              </form>
          </div>
        </div>

        <div class="mt-5">
          <h3>Events:</h3>
          <div class="dropshadow">
            <ul id="event-list" class="list-group">
                {{#each events}}
                <li data-id="{{this.id}}" class="list-group-item">
                <a href="event/{{this.id}}">{{this.text}}</a>
                <button class="btn btn-danger float-right delete"> x</button>
                </li>
                {{/each}}
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>