 <div class="container">
    <h3>Events:</h3>
    <ul id="event-list" class="list-group">
        {{#each events}}
        <li data-id="{{this.id}}" class="list-group-item">
        <a href="event/{{this.id}}">{{this.text}}</a>
        <button class="btn btn-danger float-right delete"> x</button>
        </li>
        {{/each}}
    </ul>
</div>