
    <div class="text-center">
      <a type="button" class="btn btn-primary btn-lg" href="/create" id="cEvent">
        <i class="fas fa-calendar-alt"></i> Create &amp; View Events
      </a>
    </div>