    <div class="container h-100 d-flex justify-content-center" id="brand1">
      <h1 class="branded"><span>Event </span><i class="fas fa-users"></i> Creator</h1>
    </div>
    
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h3>Helping People Get Together</h3>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        
        <button type="button" class="btn btn-primary btn-lg" id="cEvent">
          <a href="/create">Create Event</a></button>
        <button type="button" class="btn btn-primary btn-lg" id="fEvent">
          <a href="/events">Find Event</a></button>
          </button>
      </div>
  </div>
