    <div class="container h-100 d-flex justify-content-center" id="brand1">
      <h1 class="branded"><span>Event </span><i class="fas fa-users"></i> Creator</h1>
    </div>

    <div class="text-center">
      <button type="button" class="btn btn-primary btn-lg" id="cEvent">
        <i class="fas fa-calendar-alt"></i> <a href="/create">Create Event</a>
      </button>
    </div>